$red-700:              #db284e;
$red-600:              #b53225;
$red-500:              #d43a2c;
$red-400:              #ee4231;
$red-300:              #ff4b3a;

$grey:                 hsl(0, 0%, 40%); // black 60
$grey-light:           hsl(0, 0%, 71%);
$grey-lighter:         hsl(0, 0%, 86%);
$grey-lightest:        hsl(0, 0%, 93%); 

$primary: $red-700;